<div class="galery">
    <div class="container galery-container">
      <div class="hlebnie">
        <a href="index.html" class="hlebnie__link">Главная</a> / <a class="hlebnie__active">Галерея</a> 
      </div>
      <div class="galery__container">
        <div class="galery__title">Галерея</div>
        <div class="galery__bg"></div>
      </div>
    </div>
    <div class="container">
      <div class="event__blocks blocks blocks-page">
        <div class="blocks__item item item-page">
          <a href="#" class="item__link">
            <div class="item__date">12.08.2019 | Август</div>
            <div class="item__imgwrapper">
              <img src="../src/img/blog/img2.png" alt="img">
            </div>
            <div class="item__disc">
                ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                И ГРОДНО 2019 г
            </div>
          </a>
        </div>
        <div class="blocks__item item item-page">
          <a href="#" class="item__link">
            <div class="item__date">12.08.2019 | Август</div>
            <div class="item__imgwrapper">
              <img src="../src/img/blog/img3.jpg" alt="img">
            </div>
            <div class="item__disc">
                ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                И ГРОДНО 2019 г
            </div>
          </a>
        </div>
        <div class="blocks__item item item-page">
          <a href="#" class="item__link">
            <div class="item__date">12.08.2019 | Август</div>
            <div class="item__imgwrapper">
              <img src="../src/img/blog/img4.jpg" alt="img">
            </div>
            <div class="item__disc">
                ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                И ГРОДНО 2019 г
            </div>
          </a>
        </div>
        <div class="blocks__item item item-page">
          <a href="#" class="item__link">
            <div class="item__date">12.08.2019 | Август</div>
            <div class="item__imgwrapper">
              <img src="../src/img/blog/img5.jpg" alt="img">
            </div>
            <div class="item__disc">
                ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                И ГРОДНО 2019 г
            </div>
          </a>
        </div>
        <div class="blocks__item item item-page">
            <a href="#" class="item__link">
              <div class="item__date">12.08.2019 | Август</div>
              <div class="item__imgwrapper">
                <img src="../src/img/blog/img2.png" alt="img">
              </div>
              <div class="item__disc">
                  ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                  И ГРОДНО 2019 г
              </div>
            </a>
          </div>
          <div class="blocks__item item item-page">
            <a href="#" class="item__link">
              <div class="item__date">12.08.2019 | Август</div>
              <div class="item__imgwrapper">
                <img src="../src/img/blog/img3.jpg" alt="img">
              </div>
              <div class="item__disc">
                  ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                  И ГРОДНО 2019 г
              </div>
            </a>
          </div>
          <div class="blocks__item item item-page">
            <a href="#" class="item__link">
              <div class="item__date">12.08.2019 | Август</div>
              <div class="item__imgwrapper">
                <img src="../src/img/blog/img4.jpg" alt="img">
              </div>
              <div class="item__disc">
                  ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                  И ГРОДНО 2019 г
              </div>
            </a>
          </div>
          <div class="blocks__item item item-page">
            <a href="#" class="item__link">
              <div class="item__date">12.08.2019 | Август</div>
              <div class="item__imgwrapper">
                <img src="../src/img/blog/img5.jpg" alt="img">
              </div>
              <div class="item__disc">
                  ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                  И ГРОДНО 2019 г
              </div>
            </a>
          </div>
      </div>
    </div>

</div>