<div class="about">
  <div class="container vakansija-container">
    <div class="hlebnie">
      <a href="index.html" class="hlebnie__link">Главная</a> / <a class="hlebnie__active">О нас</a> 
    </div>
    <div class="about__container">
      <div class="about__title">О НАС</div>
      <div class="about__bg"></div>
    </div>
  </div>
  <div class="container">
    <main>
      <span class="quot"></span>
      <p>
          <span class="name">ОOО "Виллари Голд Бай"</span> осуществляет деятельность в сфере пассажирских перевозок на территории Республики Беларусь, сотрудничаем с <b>ведущими службами Такси</b> (7788, 107,152, 135) приложениями для заказа и аренды автомобиля с экипажем (Лайм Такси, IQ taxi, NextApp, Такси Командир, Taxi Gold, EuroTAXI и др.), являемся официальным партнером сервиса Яндекс.Такси/UBER.
      </p>
      <p>
          Организация входит в группу компаний, осуществляющих пассажирские перевозки.Опыт работы в этой сфере составляет более 7 лет.
          В условиях современных тенденций развития Такси в Минске и в целом в Беларуси, компания всегда на пульсе изменений. Это позволяет формировать и обеспечивать для всех партнеров, физических и юридических лиц, самое выгодное на рынке предложение.
          На сегодняшний день в компании на постоянной основе трудятся более 700 человек.
      </p>
      <p>
          <span class="name">Наши люди - это наш капитал</span>, строим отношения с сотрудниками на партнерских принципах: равенства, взаимного уважения, взаимного доверия и взаимовыручки. Реально помогаем в разрешении различных жизненных ситуаций (связанных не только с рабочими вопросами). Заботимся об условиях работы наших сотрудников: в наших офисах <b>водители всегда могут отдохнуть</b> в специально оборудованных комнатах отдыха и насладиться неограниченным чаем, кофе, печеньем.
      </p>
      <p class="direct">
          С уважением, Директор ООО "Виллари Голд Бай" Дёмин Вячеслав Алексеевич.
      </p>

    </main>
    <div class="registration">
      <div class="registration__title">КАК ПРОИСХОДИТ ОФОРМЛЕНИЕ</div>
      <div class="registration__block">
        <div class="item">
          <div class="item__left">
            <div class="item__left-number">01</div>
            <div class="item__left-disc">
                ЗВОНИТЕ ИЛИ 
                ОСТАВЛЯЕТЕ ЗАЯВКУ
                <a href="tel:375445860556"><span></span>+375&#160;44&#160;586&#160;05&#160;56</a> 
            </div>
          </div>
          <div class="item__right">
            <div class="item__right-img">

            </div>
          </div>
        </div>

        <div class="item item-revers">
            <div class="item__left">
              <div class="item__left-number">02</div>
              <div class="item__left-disc item__left-disc-all">
                  ПРИЕЗЖАЕТЕ НА ОФИС
                  <a><span></span>ул. К.Либкнехта, 129, Минск</a> 
              </div>
            </div>
            <div class="item__right">
              <div class="item__right-img item__right-img-2">
  
              </div>
            </div>
          </div>

        <div class="item">
            <div class="item__left">
              <div class="item__left-number">03</div>
              <div class="item__left-disc item__left-disc-all">
                  Получаете консультацию
                    с глаза на глаз со
                    специалистом под горячий
                    кофе с конфетами
              </div>
            </div>
            <div class="item__right">
              <div class="item__right-img item__right-img-3">
  
              </div>
            </div>
          </div>

          <div class="item item-revers">
              <div class="item__left">
                <div class="item__left-number">04</div>
                <div class="item__left-disc item__left-disc-all item__left-disc-all-margin">
                    ЗАКЛЮЧАЕТЕ ДОГОВОР
                </div>
              </div>
              <div class="item__right">
                <div class="item__right-img item__right-img-4">
    
                </div>
              </div>
            </div>

          <div class="item">
              <div class="item__left">
                <div class="item__left-number">05</div>
                <div class="item__left-disc item__left-disc-all">
                    Проходите инструктаж
                    и обучение по работе
                    с приложениями
                </div>
              </div>
              <div class="item__right">
                <div class="item__right-img item__right-img-5">
    
                </div>
              </div>
            </div>

            <div class="item item-revers">
                <div class="item__left">
                  <div class="item__left-number">06</div>
                  <div class="item__left-disc item__left-disc-all item__left-disc-all-margin">
                      НАЧИНАЕТЕ ЗАРАБАТЫВАТЬ
                  </div>
                </div>
                <div class="item__right">
                  <div class="item__right-img item__right-img-6">
      
                  </div>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>