<div class="vakansija">
    <div class="container vakansija-container">
      <div class="hlebnie">
        <a href="index.html" class="hlebnie__link">Главная</a> / <a class="hlebnie__active">ВАКАНСИИ</a> 
      </div>
      <div class="vakansija__container">
        <div class="vakansija__title">ВАКАНСИИ</div>
        <div class="vakansija__bg"></div>
      </div>
    </div>
    <div class="container">
      <div class="vakansija__block">
        <div class="item">
          <div class="item__icon"><img src="../src/img/vakan/2-layers.png" alt="photo"></div>
          <div class="item__disc">
            <h2>ВОДИТЕЛЬ ТАКСИ НА ЛИЧНОМ АВТОМОБИЛЕ</h2>
            <h3>Наши требования:</h3>
            <ul>
              <li>
                  Наличие автомобиля не старше 2003 года выпуска
                  (исправен, пройден ТО).
              </li>
              <li>
                  Медицинская справка с правом найма на работу.
              </li>
            </ul>
            <h3>Мы обязуемся: </h3>
            <ul>
                <li>
                    Максимально быстро вас оформить.
                </li>
                <li>
                    Сопроводить вас и оказать поддержку по любым
    вопросам работы в такси, установки приложений, 
    обучения в работе с приложениями.
                </li>
              </ul>
              <div class="block3-btn block3-btn-left">
                  <a class="block3-btn__btn block3-btn__btn-blue">ОТПРАВИТЬ ЗАЯВКУ</a>
                </div>
          </div>
        </div>
        <div class="item">
            <div class="item__icon"><img src="../src/img/vakan/1-layers.png" alt="photo"></div>
            <div class="item__disc">
              <h2>ВОДИТЕЛЬ ТАКСИ НА НАШЕМ АВТОМОБИЛЕ</h2>
              <h3>Наши требования:</h3>
              <ul>
                <li>
                    Водительское удостоверение категории "В"
                </li>
                <li>
                    Стаж вождение от 3 лет.
                </li>
                <li>
                    Медицинская справка с правом найма.
                </li>
                <li>
                    Стремление работать и зарабатывать.
                </li>
              </ul>
              <h3>Мы обязуемся: </h3>
              <ul>
                  <li>
                      Максимально быстро вас оформить. 
                  </li>
                  <li>
                      Сопроводить вас и оказать поддержку по любым
      вопросам работы в такси, установки приложений, 
      обучения в работе с приложениями.
                  </li>
                </ul>
                <div class="block3-btn block3-btn-left">
                    <a class="block3-btn__btn block3-btn__btn-blue">ОТПРАВИТЬ ЗАЯВКУ</a>
                  </div>
            </div>
          </div>
      </div>

    </div>
  
  </div>