<section class="akcija">
  <div class="container">
    <div class="akcija__row">
        <div class="akcija__img"></div>
        <div class="akcija__blocks">
          <div class="akcija__block">
              <div class="akcija__title">СПЕЦИАЛЬНАЯ АКЦИЯ!</div>
              <div class="akcija__disc">Аренда авто от 25 р./сутки</div>
          </div>
          <div class="akcija__btn">
            <div class="akcija__link akcija__link-green">Забронировать</div>
            <div class="akcija__link akcija__link-blue"><a href="bonus.html">ВСЕ АКЦИИ</a></div>
          </div>
        </div>
    </div>
    <div class="akcija__icons">
      <div class="akcija__icon">
        <div class="akcija__icon-img akcija__icon-img-brill"></div>
        <div class="akcija__icon-disc">НОВЫЕ АВТОМОБИЛИ</div>
      </div>
      <div class="akcija__icon">
        <div class="akcija__icon-img akcija__icon-img-money"></div>
        <div class="akcija__icon-disc">ПРИЯТНЫЕ ЦЕНЫ</div>
      </div>
      <div class="akcija__icon">
        <div class="akcija__icon-img akcija__icon-img-machin"></div>
        <div class="akcija__icon-disc">Автомобили с МКПП/АКПП</div>
      </div>
    </div>
  </div>
</section>