<section class="dohod">
  <div class="container">
      <div class="dohod__container">
          <div class="dohod__title">ПОСЧИТАЙТЕ СВОЙ ДОХОД</div>
          <div class="dohod__bg"></div>
      </div>
      <div class="uCalc_102074"></div>
      <script> var widgetOptions102074 = { bg_color: "transparent" }; (function() { var a = document.createElement("script"), h = "head"; a.async = true; a.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//ucalc.pro/api/widget.js?id=102074&t="+Math.floor(new Date()/18e5); document.getElementsByTagName(h)[0].appendChild(a) })();</script>
  </div>
</section>