<section class="footer" id="footer">
  <div class="footer__top">
    <canvas id="canvas"></canvas>
    <div class="container footer-container">
      <div class="footer__items">
        <div class="footer__top-item">
            <div class="footer__top-disc">Минск, Карла Либкнехта 129</div>
            <div class="footer__top-disc">e-mail: <a href="mailto:OOO.VILLORY@YANDEX.BY" target="_blank">OOO.VILLORY@YANDEX.BY</a></div>
            <div class="footer__top-disc"><a href="tel:375333889156" target="_blank">+375 (33) 388 91 56</a></div>
            <div class="footer__top-disc"><a href="tel:375259362466" target="_blank">+375 (25) 936 24 66</a></div>
        </div>
        <div class="footer__top-item">
            <div class="footer__top-disc"><a href="yandex.html">ЯНДЕКС ТАКСИ</a></div>
            <div class="footer__top-disc"><a href="uber.html">UBER</a></div>
            <div class="footer__top-disc"><a href="iq.html">IQ-ТАКСИ</a></div>
            <div class="footer__top-disc"><a href="135.html">СТОЛИЦА 135</a></div>
        </div>
        <div class="footer__top-item">
            <div class="footer__top-disc"><a href="v10.html">В ДЕСЯТКУ</a></div>
            <div class="footer__top-disc"><a href="euro.html">EURO TAXI</a></div>
            <div class="footer__top-disc"><a href="comandir.html">КОМАНДИР</a></div>
            <div class="footer__top-disc"><a href="laim.html">ЛАЙМ</a></div>
        </div>
        <div class="footer__top-item">
            <div class="footer__top-disc"><a href="ecpv.html">ЕЦПВ</a></div>
            <div class="footer__top-disc"><a href="vakansija.html">ВАКАНСИИ</a></div>
            <div class="footer__top-disc"><a href="#friend">ПРИЛОЖЕНИЯ</a></div>
            <div class="footer__top-disc"><a href="#otziv">ОТЗЫВЫ</a></div>
        </div>
        <div class="footer__top-item">
            <div class="footer__top-disc"><a href="about.html">О НАС</a></div>
            <div class="footer__top-disc"><a href="galery.html">ГАЛЕРЕЯ</a></div>
            <div class="footer__top-disc"><a href="bonus.html">БОНУСЫ</a></div>
            <div class="footer__top-disc"><a href="blog.html">БЛОГ</a></div>
        </div>
      </div>
      <div class="footer_row2">
        <div class="footer__top-item">
          <a href="index.html">
            <div class="footer__top-logo"></div>
            <div class="footer__top-disc">RABOTATAXI.BY</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-item"><a href="#" target="_blank">INSTAGRAM</a></div>
    <div class="footer__bottom-item"><a href="#" target="_blank">VKONTAKTE</a></div>
    <div class="footer__bottom-item"><a href="tel:+375445860556" target="_blank">VIBER</a></div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="js/app.js"></script>
</body>
</html> 