<section class="friend" id="friend">
  <div class="container friend-container">
    <div class="friend__items owl-carousel owl-theme owl-carousel-friend">
       <a href="yandex.html"><div class="friend__item friend__item-yandex"></div></a>
       <a href="laim.html"><div class="friend__item friend__item-laim"></div></a>
       <a href="iq.html"><div class="friend__item friend__item-iq"></div></a>
       <a href="euro.html"><div class="friend__item friend__item-euro"></div></a>
       <a href="comandir.html"><div class="friend__item friend__item-comandir"></div></a>
       <a href="135.html"><div class="friend__item friend__item-135"></div></a>
       <a href="v10.html"><div class="friend__item friend__item-v10"></div></a>
       <a href="uber.html"><div class="friend__item friend__item-uber"></div></a>
       <a href="7890.html"><div class="friend__item friend__item-7890"></div></a>
    </div>
    <!-- <div class="slick-prev">&#8592;</div>
    <div class="slick-next">&#8594;</div> -->
  </div>
</section>