<section class="friend" id="friend">
  <div class="container friend-container">
    <div class="friend__items owl-carousel owl-theme owl-carousel-friend">
       <a href="#"><div class="friend__item friend__item-1"></div></a>
       <a href="#"><div class="friend__item friend__item-2"></div></a>
       <a href="#"><div class="friend__item friend__item-3"></div></a>
       <a href="#"><div class="friend__item friend__item-4"></div></a>
       <a href="#"><div class="friend__item friend__item-1"></div></a>
       <a href="#"><div class="friend__item friend__item-2"></div></a>
       <a href="#"><div class="friend__item friend__item-3"></div></a>
       <a href="#"><div class="friend__item friend__item-4"></div></a>
       <a href="#"><div class="friend__item friend__item-1"></div></a>
       <a href="#"><div class="friend__item friend__item-2"></div></a>
       <a href="#"><div class="friend__item friend__item-3"></div></a>
       <a href="#"><div class="friend__item friend__item-4"></div></a>
       <a href="#"><div class="friend__item friend__item-1"></div></a>
       <a href="#"><div class="friend__item friend__item-2"></div></a>
       <a href="#"><div class="friend__item friend__item-3"></div></a>
       <a href="#"><div class="friend__item friend__item-4"></div></a>
    </div>
    <!-- <div class="slick-prev">&#8592;</div>
    <div class="slick-next">&#8594;</div> -->
  </div>
</section>