<section class="header">
  <div class="container header-container">
    <div class="header__row">
      <div class="header__wrapper">
          <div class="header__left">
            <div class="header__left-title">РАБОТА В ТАКСИ</div>
            <div class="header__left-disc">ЕДИНЫЙ ЦЕНТР ПОДКЛЮЧЕНИЯ ВОДИТЕЛЕЙ</div>
            <div class="header__left-save">ДАРИМ 50 BYN</div>
            <div class="header__left-clock">Если вы не заработали в течении 3 часов после подключения</div>
          </div>
          <div class="header__btn">
            <a href="ecpv.html">ПОДРОБНЕЕ</a>
          </div>
      </div>

      <div class="header__right">
        <form action="" class="header__form">
          <input type="submit">
          <input type="text" placeholder="Ваше Имя" required>
          <input type="text" placeholder="Телефон" required>
          <input type="text" placeholder="E-mail" required>
          <div  class="header__formbtn" data-type="pos_aware">
            отправить заявку
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>
