<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Работа в такси</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="shortcut icon" href="src/img/favicon.ico" type="image/png"> 
  <link rel="stylesheet" href="css/style.css">

  

</head>
<body>
  
  <div class="overlay"></div>
  <!--  modal menu -->
  <div class="modal">
    <div class="modal__close">
      <span></span>
    </div>
    <ul>
      <li>
        <a href="ecpv.html">ЕЦПВ</a>
      </li>
      <li>
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="#footer">Контакты</a>
      </li>
      <li>
        <a href="vakansija.html">Вакансии</a>
      </li>
      <li>
        <a href="#otziv">Отзывы</a>
      </li>
      <li>
        <a href="yandex.html">Яндекс Такси</a>
      </li>
      <li>
        <a href="uber.html">Uber Такси</a>
      </li>
      <li>
        <a href="135.html">Такси 135</a>
      </li>
      <li>
        <a href="iq.html">IQ Такси</a>
      </li>
      <li>
        <a href="v10.html">Такси В десятку</a>
      </li>
      <li>
        <a href="comandir.html">Такси Командир</a>
      </li>
      <li>
        <a href="laim.html">Такси Лайм</a>
      </li>
      <li>
        <a href="euro.html">Евротакси</a>
      </li>
      <li>
        <a href="7890.html">Такси 7890</a>
      </li>
      <li>
        <a href="bonus.html">Бонусы и акции</a>
      </li>
      <li>
        <a href="galery.html">Галерея</a>
      </li>
      <li>
        <a href="about.html">О нас </a>
      </li>
    </ul>
  </div>
  <!--  /modal window -->

  <!--  modal form -->
  <div class="modal-form">
    <div class="modal-form-overlay"></div>
    <form action="" class="header__form modal__form-validation" >
      <input type="submit">
      <input type="text" name="name" placeholder="Ваше Имя" required>
      <input type="text" name="phone" placeholder="Телефон" required>
      <input type="text" name="email" placeholder="E-mail">
      <div  class="header__formbtn" data-type="pos_aware">
        отправить заявку
      </div>
    </form>
  </div>
  <!--  /modal form -->


    <!--  modal form -->
    <div class="modal-form-reviews">
      <div class="modal-form-overlay"></div>
      <form action="" class="header__form reviews__form-validation" >
        <input type="submit">
        <input type="text" name="name" placeholder="Ваше Имя" required>
        <input type="text" name="text" placeholder="Отзыв" required>
        <div  class="header__formbtn" data-type="pos_aware">
          отправить отзыв
        </div>
      </form>
    </div>
    <!--  /modal form -->


  <div class="modal-wrapper1">
    <div class="modal1 js-blur1">
        <button class="close-modal1">×</button>
        <h2 class="modal-head-name"></h2>
        <p class="modal-head-price"></p>
        <p class="modal-head-distance"></p>
    </div>
</div>
 








<section class="topline">
  <div class="topline__bg">
      <div class="container">
          <div class="topline__row topline__row-animate">
              
              <div class="topline__burger">
                <div class="topline__burger-img ">
                  <span></span>
                </div>
                <div class="topline__burger-name">Меню</div>
              </div>
              <div class="topline__phone">
                <a class="topline__phone-number" href="tel:+375445860556" target="_blank">+375 44 586 05 56</a>
              </div>
              <a href="index.html" class="topline__logo-mobile"><div class="topline__logo"></div></a>
          </div>
          <div class="topline__row topline__row-2">
            <div class="topline__menu">
              <a class="topline__menu-item topline__menu-line" href="#friend">ПРИЛОЖЕНИЯ</a>
              <a class="topline__menu-item topline__menu-line" href="yandex.html">Яндекс такси</a>
              <a class="topline__menu-item" href="#otziv">Отзывы</a>
            </div>
            <a href="index.html"><div class="topline__logo"></div></a>
            <div class="topline__menu">
              <a class="topline__menu-item topline__menu-line" href="vakansija.html">вакансии</a>
              <a class="topline__menu-item topline__menu-line" href="#footer">контакты</a>
              <a class="topline__menu-item topline__menu-line" href="ecpv.html">ЕЦВП</a>
              <a class="topline__menu-item" href="blog.html">Блог</a>
            </div>
          </div>
          <div class="menu__mobile">
            <ul>
              <li><a href="#friend">ПРИЛОЖЕНИЯ</a></li>
              <li><a href="yandex.htm">Яндекс такси</a></li>
              <li><a href="vakansija.html">вакансии</a></li>
              <li><a href="#footer">контакты</a></li>
            </ul>
          </div>
      </div>
  </div>
</section>
