<section class="offer">
  <div class="container">
    <div class="offer__container">
        <div class="offer__title">ЕЦПВ ВАМ ПРЕДЛАГАЕТ</div>
        <div class="offer__bg"></div>
    </div>
    
    <div class="offer__wrapper">
      <div class="offers">
          <div class="offer__wrapper-item offer__wrapper-line">
            <div class="offer__wrapper-icon offer__wrapper-icon-key"></div>
            <div class="offer__wrapper-disc">Постоянная
              техническая
              поддержка</div>
          </div>
          <div class="offers-int"></div>
      </div>
      <div class="offers">
        <div class="offer__wrapper-item offer__wrapper-line">
          <div class="offer__wrapper-icon offer__wrapper-icon-bag"></div>
          <div class="offer__wrapper-disc">Стабильный заработок</div>
        </div>
        <div class="offers-two"></div>
      </div>
      <div class="offers">
        <div class="offer__wrapper-item">
          <div class="offer__wrapper-icon offer__wrapper-icon-hammer"></div>
          <div class="offer__wrapper-disc">Законный<br>доход</div>
        </div>
        <div class="offers-three"></div>
      </div>
    </div>
  </div>
</section>