<section class="otziv" id="otziv">
  <div class="container">
      <div class="otziv__container">
        <div class="otziv__title">ОТЗЫВЫ О КОМПАНИИ</div>
        <div class="otziv__bg"></div>
      </div>
      <div class="otziv__blocks">
        <div class="otziv__block card">
            <div class="card__border">
              <div class="card__green">
                <div class="card__photo">
                  <img src="../src/img/review/img1.jpg" alt="АНТОН БЕЛЯЕВ" class="active-photo">
                    <div>
                      <div hidden>Константин Соболевский</div>
                      <div hidden>Выражаю благодарность водителю автомобиля ХЁНДЭ СОЛЯРИС черный 4874 НС-7 Обслуживание высшего класса!!! Водитель обходителен, учтив, аккуратен в езде и очень вежлив. Прошу администрацию отметить его работу хорошей премией) Побольше бы таких водителей!</div>
                    </div>
                  </img>
                </div>
              </div>
              <img src="../src/img/review/img2.jpg" class="card__photos card__photos-1" alt="photos" width="115" height="115">
                <div>
                  <div hidden>Яснюк Антон</div>
                  <div hidden>Я хочу сказать большое спасибо водителю Александру. Автомобиль ФОЛЬКСВАГЕН ПОЛО черный он без проблем нас довез нас сестрой и мужем. Очень акуратен и внемателен при вождении машины.</div>
                </div>
              </img>

              <img src="../src/img/review/img3.jpg" class="card__photos card__photos-2" alt="photos2" width="117" height="117">
                <div>
                  <div hidden>Иришка Соболевская</div>
                  <div hidden>Доехали с дочкой сегодня до детской поликлиники. Диспетчер очень вежливая, внимательная. Водитель Леонид на красном ниссане большое спасибо. Автомобиль чистый, салон аккуратный, непрокуренный. От поездки только положительные впечатления. Все замечательно.</div>
                </div>
              </img>
              <img src="../src/img/review/img4.jpg" class="card__photos card__photos-3" alt="photos3" width="117" height="117">
                <div>
                  <div hidden>Сухоцкий Дмитрий</div>
                  <div hidden>Хочу оставить положительный отзыв. Вчера, 31.10.2019 воспользовалась службой такси 135. Водитель приехал во время, стоял около машины, открыл дверь! Такого ранее никогда не встречала в службе вашего такси! Комфортабельный автомобиль(серый Киа рио) с чистым салоном очень порадовал! Приятный Водитель (Александр), обслуживание на высоте! Также хочу упомянуть, что в салоне автомобиля оставила кошелёк(с деньгами) , Александр позвонил и сам привёз чтобы вернуть! Шикарный сервис! Огромная благодарность за качественную работу!!!</div>
                </div>
              </img>
              <img src="../src/img/review/img5.jpg" class="card__photos card__photos-4" alt="photos4" width="67" height="67">
                <div>
                  <div hidden>Владимир Пилант</div>
                  <div hidden> Очень часто пользуюсь услугами этой службы на мобильном Приложении. И всегда ранее указывалась стоимость поездки заранее, чтобы подтвердить или отказаться от услуги. Сегодня стоимость не определилась, но услуга стала исполняться без моего согласия!!!!!!! Мне сразу же написали, что машина будет через 4 мин. Ещё раз - я согласия не давала!!!!! Предварительная стоимость поездки мной не согласовывалась!!!!! Прошу разобраться и исправить эту ситуацию!</div>
                </div>
              </img>
              <img src="../src/img/review/img6.png" class="card__photos card__photos-5" alt="photos5" width="80" height="80">
                <div>
                  <div hidden>Шишлов Артём</div>
                  <div hidden>Вызвали такси 135. Нужно было перевезти четырех взрослых плюс ребенок, плюс собака(шпиц) на руках. Не додумались при заказе такси указать количество человек. Хотя почему это не уточнила оператор? Отдельный вопрос... Ну, да ладно, саии не указали количество пассажиров, сами виноваты. Но, что непрятно удивило, так это то, что когда в такси уселись трое взрослых с ребенком и собакой и вышел еще один пассажир с большим рюкзаком и двумя пакетами, то водитель даже не соизволил выйти из машины и предложитьспросить положить вещи в багажник, а просто сидел в машине, делая вид, что он не видит, что вышел еще один человек, нагруженный вещами. Из опыта работы с другими службами такси - водители выходят и предлагают погрузить вещи в багажник. В такси 135, похоже, это не принято... Бояре за рулем сидят, похоже... Вывод: больше не будем заказывать такси 135</div>
                </div>
             </img>
            </div>
        </div>
        <div class="otziv__block otziv__block-caption">
          <div class="otziv__block-photo">
            <img src="../src/img/review/img1.jpg" alt="АНТОН БЕЛЯЕВ"></img>
          </div>
          <div class="otziv__block-title">Константин Соболевский</div>
          <div class="otziv__block-disc">Выражаю благодарность водителю автомобиля ХЁНДЭ СОЛЯРИС черный 4874 НС-7 Обслуживание высшего класса!!! Водитель обходителен, учтив, аккуратен в езде и очень вежлив. Прошу администрацию отметить его работу хорошей премией) Побольше бы таких водителей!</div>
          <a class="otziv__block__link">Оставить отзыв</a>
        </div>
      </div>
  </div>
</section>     