<div class="bonus">
  <div class="container">
    <div class="hlebnie">
      <a href="index.html" class="hlebnie__link">Главная</a> / <a class="hlebnie__active">Бонусы</a> 
    </div>
    <div class="bonus__container">
      <div class="bonus__title">БОНУСЫ И АКЦИИ</div>
      <div class="bonus__bg"></div>
    </div>
  </div>
  <div class="bonus-main">
    <div class="container">
      <div class="bonus-main__title">
        Для водителей, арендующих авто компании
      </div>
      <div class="bonus-main__item itemb">
        <div class="itemb__block itemb__block-img">
            <div class="itemb__img"></div>
        </div>
        <div class="itemb__block">
            <div class="itemb__block-text">
                <ul>
                  <li>Приведи друга - получи скидку 2 рубля в день на аренду авто за каждого приведенного водителя на время его работы.</li>
                  <li>При рождении ребенка 1 день аренды авто в подарок.</li>
                  <li>В день рождения Вашего ребенка от нас подарок 20 рублей.</li>
                  <li>В месяц дня рождения водителя 1 день аренды авто в подарок.</li>
                </ul>
              </div>
        </div>
      </div>
      <div class="bonus-main__title">
          Для водителей на собственных автомобилях
        </div>
      <div class="bonus-main__item itemb itemb-revers">
          <div class="itemb__block itemb__block-img">
              <div class="itemb__img"></div>
          </div>
          <div class="itemb__block">
              <div class="itemb__block-text">
                  <ul>
                    <li>Приведи друга - получи 50 рублей.</li>
                    <li>При рождении ребенка подарок 50 рублей.</li>
                    <li>В день рождения Вашего ребенка от нас подарок 20 рублей.</li>
                    <li>Предоставляется скидка 50% на абонентскую плату в месяц дня рождения водителя.</li>
                  </ul>
                </div>
          </div>
        </div>
    </div>
  </div>
  <div class="bonus-akcija">
    <div class="container">
        <div class="bonus-akcija__container">
            <div class="bonus-akcija__title">АКЦИИ ОТ НАШИХ ПАРТНЕРОВ</div>
            <div class="bonus-akcija__bg"></div>
        </div>
          <div class="bonus-akcija__first">
            <div class="bonus-akcija__first__item">
                <div class="bonus-akcija__first__item-img">
                  <img src="../src/img/bonus/i-water.png" alt="icon">
                </div>
                <h3>Автомойка 24/7<br>
                    ООО "Милком"</h3>
                    <p>Бесконтактная мойка и смыв
                        под давлением - <span>всего 4 рубля!</span><br>
                        ул. Пономаренко, 43Б<br>
                       <a href="tel:+375296999393" target="_blank"> +375 29 699-93-93</a></p>
            </div>
            <div class="bonus-akcija__first__item">
                <div class="bonus-akcija__first__item-img">
                  <img src="../src/img/bonus/icc2.png" alt="icon">
                </div>
                <h3>Men's Season<br>
                    (одежда, обувь, аксессуары)</h3>
                    <p><span>Скидка 10%</span> на весь ассортимент!<br>
                        ТРЦ "EXPOBEL", верхний пассаж<br>
                        ТРЦ "ТИТАН"<br>
                        <a href="tel:+375293395395" target="_blank">+375 29 339-53-95</a></p>
            </div>
          </div>
          <div class="bonus-akcija__two">
            <div class="bonus-akcija__two-title">УСЛУГИ АВТОМОЙКИ</div>
            <div class="bonus-akcija__two-blocks">
              <div class="bonus-akcija__two-blocks__item">
                <h4>Мойка № 1</h4>
                <p>Нанесение моющего средства, смыв.<br>
                    <span>7 рублей</span> (вместо 11р.)</p>
              </div>
              <div class="bonus-akcija__two-blocks__item">
                  <h4>Мойка № 2</h4>
                  <p><span>Мойка №1</span> + мойка порогов,проемов, багажника,
                      жидкий воск, сушка,продувка,мойка ковриков.<br>
                    <span>10 рублей</span> (вместо 14р.)</p>
                </div>
                <div class="bonus-akcija__two-blocks__item">
                    <h4>Мойка № 3</h4>
                    <p><span>Мойка №2</span> + уборка салона, мойка стекол,
                        обработка пластика.
                      <span>25 рублей</span> (вместо 30р.)</p>
                  </div>
                  <div class="bonus-akcija__two-blocks__item">
                    <div class="bonus-akcija__two-blocks__item-img">
                      <img src="../src/img/bonus/logob.png" alt="img">
                    </div>
                      <h3>АПТЕКА БИЗНЕСА</h3>
                      <h5>Студия позитивных<br>
                          бухгалтерских решений</h5>
                      <p><span>Скидка 10%</span> на первую
                          выбранную услугу.<br>
                          <a href="tel:+375292244220" target="_blank">+375 29 22 44 220</a>
                          <a href="aptekabiznesa.by" target="_blank">aptekabiznesa.by</a></p>
                  </div>
                  <div class="bonus-akcija__two-blocks__item">
                    <div class="bonus-akcija__two-blocks__item-img">
                      <img src="../src/img/bonus/biz.png" alt="img">
                    </div>
                      <h3>Biz-Up Studio</h3>
                      <h5>Маркетинговое агентство</h5>
                      <p><span>Скидка 10%</span>  на создание
                          сайта или первый месяц<br>
                           SMM-стратегии.<br>
                           <a href="tel:+375296386774" target="_blank">+375 29 638 67 74</a><br>
                          <a href="biz-up.by" target="_blank">biz-up.by</a></p>
                  </div>
                  <div class="bonus-akcija__two-blocks__item">
                    <div class="bonus-akcija__two-blocks__item-img">
                      <img src="../src/img/bonus/rolls.png" alt="img">
                    </div>
                      <h3>ROLLS RENT</h3>
                      <h5>Удобный прокат<br>
                          новых автомобилей</h5>
                      <p><span>Скидка 10%</span>  для новых<br>
                          коллег на первую<br>
                          аренду авто.<br>
                          <a href="tel:+375445472252" target="_blank">+375 44 547 22 52</a><br>
                          <a href="tel:+375297578917" target="_blank">+375 29 757 89 17</a><br>
                          <a href="rolls-rent.by" target="_blank">rolls-rent.by</a>
                        </p>
                  </div>
                  <div class="bonus-akcija__two-blocks__item">
                    <div class="bonus-akcija__two-blocks__item-img">
                      <img src="../src/img/bonus/sil.png" alt="img">
                    </div>
                      <h3>SILENT</h3>
                      <h5>Лучшие входные двери</h5>
                      <p><span>Скидка 20%</span> на 
                          установку дверей<br>
                          <a href="tel:+375291167335" target="_blank">+375 29 116 73 35</a><br>
                          <a href="tel:+375291147335" target="_blank">+375 29 114 73 35</a><br>
                          <a href="silent.by" target="_blank">silent.by</a>
                      </p>
                  </div>
                  <div class="bonus-akcija__two-blocks__item">
                      <div class="bonus-akcija__two-blocks__item-img">
                        <img src="../src/img/bonus/max.png" alt="img">
                      </div>
                        <h3>MAXAUTO</h3>
                        <h5>Запчасти, аксессуары, шины и др.</h5>
                        <p> Постоянная <span>скидка 5%</span> на весь асортимент
                            ул.Лещинского, 14а, пав. 132, 115, 118, 137<br>
                            <a href="tel:+375293792030" target="_blank">+375 29 379 20 30</a><br>
                            ул. Сырокомли, д.7, пав. 101, 141, 108<br>
                            <a href="tel:+375447546044" target="_blank">+375 44 754 60 44</a><br>
                            ул. Ваупшасова, д.10, пав. 61, 51, 64<br>
                            <a href="tel:+375291349059" target="_blank">+375 29 134 90 59</a><br>
                            ул. Некрасова, д.73, пав. 47, 35<br>
                            <a href="tel:+375291033177" target="_blank">+375 29 103 31 77</a>
                            </p>
                    </div>
            </div>
          </div>
    </div>
  </div>
</div>