<div class="section-ecpv">
  <div class="container">
    <div class="hlebnie">
      <a href="index.html" class="hlebnie__link">Главная</a> / <a class="hlebnie__active">ЕЦПВ</a> 
    </div>
    <div class="section-ecpv__container">
      <div class="section-ecpv__title section-ecpv__title-dectop">ЕДИНЫЙ ЦЕНТР ПОДКЛЮЧЕНИЯ
          ВОДИТЕЛЕЙ</div>
      <div class="section-ecpv__title section-ecpv__title-mob">ЕЦПВ</div>
      <div class="section-ecpv__bg"></div>
    </div>
  </div>
  <div class="section-ecpv-bg">
    <div class="container">
        <div class="section-ecpv-bg__disc">
            Почему вы ищете работу в такси? Лучше работать с
            сервисами напрямую как ИП или устраиваться
            в транспортные компании?

            <div class="section-ecpv-bg__quest section-ecpv-bg__quest-1"></div>
            <div class="section-ecpv-bg__quest section-ecpv-bg__quest-2"></div>
            <div class="section-ecpv-bg__quest section-ecpv-bg__quest-3"></div>
        </div>
    </div>
  </div>
  <div class="container section-ecpv__head">
    <div class="section-ecpv__head-title">
        Вы знаете, как устроен рынок пассажирских
        перевозок изнутри? 
    </div>
    <div class="section-ecpv__head-disc head-disc">
        <div class="head-disc__text"><span>Клиент заказывает такси</span> – звонком, через приложение или сайт,<br>
        <span>Его заказ обрабатывается диспетчерской</span> и отправляется водителю.<br>
            Водитель должен быть закреплен за транспортной компанией. По закону физлицо не может работать напрямую с сервисом, поэтому без головного перевозчика не обойтись. И <span>это лучший и безопасный вариант для начала пути в такси.</span>
        </div>
        <div class="head-disc__img"></div>
    </div>
  </div>

  <!-- <div class="container section-ecpv__head">
      <div class="section-ecpv__head-title">
          В чем особенность работы с одной
транспортной компанией?
      </div>
      <div class="section-ecpv__head-disc head-disc">
          <div class="head-disc__text">У большинства служб такси есть свои транспортные компании, за которыми закрепляют водителя. Каждый такой сервис использует одно приложение, имеет свои особенности работы, свою категорию пассажиров, любимые
              районы и наиболее загруженные заказами часы.
          </div>
          <div class="head-disc__img-3"></div>
      </div>
    </div> -->

    <div class="container">
        <div class="section-ecpv-item">
            <img src="../src/img/ecpv/img2.png" alt="img2" width="322" height="175">
            <div class="flex flex-dir">
                <div class="section-ecpv__head-title">
                    В чем особенность работы с одной
          транспортной компанией?
                </div>
                <div class="head-disc__text">У большинства служб такси есть свои транспортные компании, за которыми закрепляют водителя. Каждый такой сервис использует одно приложение, имеет свои особенности работы, свою категорию пассажиров, любимые
                    районы и <span>наиболее загруженные заказами часы.</span>
                </div>
            </div>
          </div>
    </div>


  <div class="container section-ecpv__head">
    <div class="section-ecpv__head-title">
        ЕСТЬ АЛЬТЕРНАТИВА?
    </div>
    <div class="section-ecpv__head-disc head-disc">
        <div class="head-disc__text"><span>ЕДИНЫЙ ЦЕНТР ПОДКЛЮЧЕНИЯ ВОДИТЕЛЕЙ</span> предлагает попробовать всё сразу и выбрать то, что подходит именно вам!<br>
            Компания выстроила крепкие партнёрские и дружеские отношения с лучшими службами города: <span>«Такси Лайм», Хутка Будзе, IQ Taxi, Евро такси, Такси Командир, Девяточка, такси в Десятку, Клубничка, Такси Gold, Такси 135, Яндекс Такси, Uber, 7890 и другими.</span><br>
            Вам предлагается протестировать работу с несколькими приложениями (стать водителем сразу в нескольких службах такси) и остановиться на самом комфортном варианте. 
            </span>
        </div>
        <div class="head-disc__img-3"></div>
    </div>
  </div>
  
</div>