<section class="what">
  <div class="container">
    <div class="what__container" >
        <div class="what__title">ПОЧЕМУ ЕЦПВ</div>
        <div class="what__bg"></div>
    </div>
    
    <div class="what__wrapper">
      <div class="what__wrapper-item">
        <div class="what__wrapper-icon what__wrapper-icon-mob"></div>
        <div class="what__wrapper-disc what__wrapper-disc-mrt">Каждый сервис такси использует приложение</div>
      </div>
      <div class="what__wrapper-item">
        <div class="what__wrapper-icon what__wrapper-icon-mens"></div>
        <div class="what__wrapper-disc">Партнерские и дружеские
            отношения с лучшими
            службами такси в городе</div>
      </div>
      <div class="what__wrapper-item">
        <div class="what__wrapper-icon what__wrapper-icon-puzzle"></div>
        <div class="what__wrapper-disc">Возможность попробовать 
            всё сразу и выбрать то,
            что подходит именно вам!</div>
      </div>
    </div>
  </div>
</section>