<section class="work">
  <div class="container">
      <div class="work__container">
          <div class="work__title">СЕРВИСЫ, С КОТОРЫМИ МЫ РАБОТАЕМ</div>
          <div class="work__bg"></div>
      </div>
      <div class="work__cards">
        <div class="work__card">
          <div class="work__card-text">
            <div class="work__card-text-icon work__card-text-icon-laim"></div>
            <div class="work__card-text-disc">При работе над сервисом компания Такси Лайм стремилась к созданию интересного и простого приложения для</div>
          </div>
          <div class="work__card-btn">
            <a href="laim.html">Подробнее
                <span class="work__card-btn-arr"></span>
            </a>
            
          </div>
        </div>
        <div class="work__card">
          <div class="work__card-text">
            <div class="work__card-text-icon work__card-text-icon-iq"></div>
            <div class="work__card-text-disc">IQ Taxi начало свою работу в 2015 году и сразу заявило о себе как об инновационном сервисе по вызову такси в Минске. Сейчас </div>
          </div>
          <div class="work__card-btn">
            <a href="iq.html">Подробнее
              <span class="work__card-btn-arr"></span>
            </a>
          </div>
        </div>
        <div class="work__card">
          <div class="work__card-text">
            <div class="work__card-text-icon work__card-text-icon-comandir"></div>
            <div class="work__card-text-disc">Путь в борьбе за клиента такси Командир начало в ноябре 2014 года в Дзержинске.
                Основатели компании загорелись </div>
          </div>
          <div class="work__card-btn">
            <a href="comandir.html">Подробнее
              <span class="work__card-btn-arr"></span>
            </a>
          </div>
        </div>
        <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-135"></div>
              <div class="work__card-text-disc">Такси 135 раньше не осуществляло пассажирских перевозок - первоначально компания оказывала помощь в </div>
            </div>
            <div class="work__card-btn">
              <a href="135.html">Подробнее
                  <span class="work__card-btn-arr"></span>
              </a>
              
            </div>
          </div>
          <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-v10"></div>
              <div class="work__card-text-disc">В конце 2017-го года запустилось такси В Десятку. Именно этот сервис принес на рынок белорусского такси новое </div>
            </div>
            <div class="work__card-btn">
              <a href="v10.html">Подробнее
                <span class="work__card-btn-arr"></span>
              </a>
            </div>
          </div>
          <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-euro"></div>
              <div class="work__card-text-disc">Летом 2018 года Минск встретил ЕвроТакси. Служба за счет правильной маркетинговой стратегии быстро расположила к</div>
            </div>
            <div class="work__card-btn">
              <a href="euro.html">Подробнее
                <span class="work__card-btn-arr"></span>
              </a>
            </div>
          </div>
          <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-yandex"></div>
              <div class="work__card-text-disc">В тестовом режиме Яндекс.Такси начало работать в Минске под крылом Такси 135 в 2016 году. Изначально популярностью</div>
            </div>
            <div class="work__card-btn">
              <a href="yandex.html">Подробнее
                <span class="work__card-btn-arr"></span>
              </a>
            </div>
          </div>
          <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-uber"></div>
              <div class="work__card-text-disc">История заявившего о себе по всему миру сервиса такси Убер началась в Минске в конце 2015 года. 1) Первым запустился Uber </div>
            </div>
            <div class="work__card-btn">
              <a href="uber.html">Подробнее
                <span class="work__card-btn-arr"></span>
              </a>
            </div>
          </div>
          <div class="work__card">
            <div class="work__card-text">
              <div class="work__card-text-icon work__card-text-icon-7890"></div>
              <div class="work__card-text-disc">В тестовом режиме летом 2019 года Минск встретил такси 7890. Сервис имеет сайт и приложение </div>
            </div>
            <div class="work__card-btn">
              <a href="7890.html">Подробнее
                <span class="work__card-btn-arr"></span>
              </a>
            </div>
          </div>
      </div>
  </div>
</section>