<section>
  <div class="zayavka-section">
    <div class="container">
      <div class="zayavka-section__title">
          <p>ХОТИТЕ РАБОТАТЬ С НАМИ?</p>
          <p>ОСТАВЬТЕ ЗАЯВКУ И МЕНЕДЖЕР<br> СВЯЖЕТСЯ С ВАМИ в ближАйшее время</p>
      </div>
      <div class="zayavka-section__form">
        <form action="" class="zayavka-section__form-validation">
          <div class="zayavka-section__wrapInput"> 
            <input type="text" name="name" placeholder="Ваше Имя" required>
            <input type="text" name="phone" placeholder="Ваш телефон" required>
          </div>
          <button type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
      </div>

    </div>
  </div>
</section>