.galery{
  overflow: hidden;
  padding: 50px 0;

  @media(max-width: 1024px) {
    padding: 20px 0;
  }

  @media(max-width: 480px) {
    padding: 10px 0;
  }

  &__container {
    text-align: center;
    margin-bottom: 50px;

    @media(max-width: 768px){
      margin-bottom: 25px;
    }
}


  &__title {
      font-family: "Proxima";
      font-size: 48px;
      font-weight: bold;
      color: #403f3f;
      letter-spacing: 3px;
      display: inline-block;
      position: relative;
      z-index: 10;
      max-width: 840px;

      @media(max-width: 768px){
        font-size: 20px;
      }


  }

  &__bg{
    width: 200px;
    height: 20px;
    background-color: #87d04c;
    position: relative;
    top: -31px;
    margin: 0 auto;
    transform: translateX(-25%);

      @media(max-width: 768px){
        width: 140px;
        height: 9px;
        top: -12px;
        transform: translateX(-13%)
      }
  }

}