.work {
  padding-bottom: 50px;
  background: white;
  position: relative;

  @media(max-width:480px){
    margin-top: -140px;
  }

  &__container {
      text-align: center;
      margin-bottom: 100px;
  }

  &__title {
      font-family: "Proxima Nova";
      font-size: 48px;
      font-weight: 700;
      color: #403f3f;
      letter-spacing: 3px;
      display: inline-block;
      position: relative;
      z-index: 10;

      @media(max-width: 1100px){
        font-size: 20px;
      }

  }

  &__bg{
      width: 700px;
      height: 20px;
      background-color: #87d04c;
      position: relative;
      top: -30px;
      margin: 0 auto;
      transform: translateX(-27%);

      @media(max-width: 1100px){
        width: 500px;
        height: 9px;
        top: -15px;
        transform: translateX(-3%);
      }

      @media(max-width: 520px){
        width: 300px;
        height: 9px;
        top: -42px;
        transform: translateX(-10%);
      }

  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.work__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;

    box-shadow: 2px 4px 17px 4px rgba(189, 189, 189, .36);
    border-radius: 5px;
    width: 357px;
    height: 442px;
    padding: 30px;
    text-align: center;

    @media(max-width: 480px){
      width: 265px;
      height: 304px;
      padding: 20px;
      margin-bottom: 25px;
    }


    &-btn {
      a {
        color: #272727;
        font-family: "Proxima Nova";
        font-size: 17px;
        text-decoration: none;
        border-radius: 40px;
        transition: all .3s;
        letter-spacing: 1.2px;
        padding: 10px 25px;

        @media(max-width: 480px){
          font-size: 14px;
        }


        &:hover {
          background-color: #458fe8;
          color: white;
        }

        &:hover .work__card-btn-arr {
          background: url("../src/img/arr-white.png");
          width: 24px;
          height: 11px;
          background-size: cover;
        }
      }

      &-arr {
        background: url("../src/img/arrow-right.png");
        width: 24px;
        height: 11px;
        background-size: cover;
        transform: translateX(10px);
        display: inline-block;
      }
    }

    &-text {
      margin-bottom: 50px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 480px){
        margin-bottom: 15px;
      }

      &-disc {
        color: #4c4b4b;
        font-family: "Proxima";
        font-size: 17px;
        letter-spacing: 1.2px;
        text-align: left;
        font-weight: bold;

        @media(max-width: 480px){
          font-size: 13px;
          margin-top: 10px;
        }

      }
  
      &-icon {
        width: 80% !important;
        height: auto !important;

        @media(max-width: 480px){
          margin-bottom: 0 !important;
        }


        &-laim {
          background-image: url("../src/img/laim.png");
          width: 120px;
          height: 225px;
        }

        &-iq {
          background-image: url("../src/img/iq.png");
          width: 293px;
          height: 131px;
        }

        &-comandir {
          background-image: url("../src/img/comandir.png");
          width: 153px;
          height: 197px;
        }

        &-135 {
          background-image: url("../src/img/135.png");
          width: 192px;
          height: 158px;
        }

        &-v10 {
          background-image: url("../src/img/v10.png");
          width: 199px;
          height: 199px;
        }

        &-euro {
          background-image: url("../src/img/euro.png");
          width: 354px;
          height: 79px;
        }

        &-yandex {
          background-image: url("../src/img/yandex.png");
          width: 322px;
          height: 91px;
        }

        &-uber {
          background-image: url("../src/img/uber.png");
          width: 246px;
          height: 52px;
        }

        &-7890 {
          background-image: url("../src/img/7890.png");
          width: 246px;
          max-height: 100px;
          margin-top: 40px;

          @media(max-width: 480px){
            margin-top: 0px;
          }
        }

        margin: 0 auto;
        margin-bottom: 40px;
        background-repeat: no-repeat;
        background-position: center;
        flex-grow: 1;
        background-size: contain;
        
      }
  }
}
