<div class="blog">
  <div class="blog-bg">
    <div class="container">
        <div class="blog-bg__caption">
            <div class="blog-bg__hlebnie"><a href="index.html">Главная</a> / <a href="blog.html">Наш Блог</a>/ О работе с мобильными приложениями</div>
            <div class="blog-bg__title">НАШ БЛОГ</div>
          </div>
    </div>
  </div>
  <div class="container">
    <div class="blog-bg__blogs blogs">
      <div class="blogs__items">
          <div class="blogs__item blogs__item-single">
              <div class="title">О РАБОТЕ С МОБИЛЬНЫМИ
                  ПРИЛОЖЕНИЯМИ</div>
              <div class="disc">
                  <div class="blogs__item blogs__item-right blogs__item-right-float">
                      <div class="date">12.08.2019 | Август</div>
                      <div class="image">
                        <img src="../src/img/blog/blog1.png" alt="img">
                      </div>
                    </div>
                В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
                В этот момент многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.В нашем современном мире поиск работы в определенные промежутки времени занимает первостепенное значение.
   нт многие задают себе вопрос, а что я умею делать еще. Хороший вопрос, потому что это возможность расширить свои возможности. Не всегда приходит мысль, что такие простые навыки, как вождение автомобиля могут стать основой для новой, хорошо оплачиваемой работы.
              </div>
          </div>
      </div>

    </div>
  </div>
  <div class="event">
    <div class="event__title">
        <span>НАШИ МЕРОПРИЯТИЯ</span> 
    </div>
    <div class="event__wrapper">
      <div class="event__wrapper-block">
        <div class="event__blocks blocks owl-carousel owl-theme owl-carousel-blog">
            <div class="blocks__item item">
              <a href="#" class="item__link">
                <div class="item__date">12.08.2019 | Август</div>
                <div class="item__imgwrapper">
                  <img src="../src/img/blog/img2.png" alt="img">
                </div>
                <div class="item__disc">
                    ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                    И ГРОДНО 2019 г
                </div>
              </a>
            </div>
            <div class="blocks__item item">
              <a href="#" class="item__link">
                <div class="item__date">12.08.2019 | Август</div>
                <div class="item__imgwrapper">
                  <img src="../src/img/blog/img3.jpg" alt="img">
                </div>
                <div class="item__disc">
                    ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                    И ГРОДНО 2019 г
                </div>
              </a>
            </div>
            <div class="blocks__item item">
              <a href="#" class="item__link">
                <div class="item__date">12.08.2019 | Август</div>
                <div class="item__imgwrapper">
                  <img src="../src/img/blog/img4.jpg" alt="img">
                </div>
                <div class="item__disc">
                    ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                    И ГРОДНО 2019 г
                </div>
              </a>
            </div>
            <div class="blocks__item item">
              <a href="#" class="item__link">
                <div class="item__date">12.08.2019 | Август</div>
                <div class="item__imgwrapper">
                  <img src="../src/img/blog/img5.jpg" alt="img">
                </div>
                <div class="item__disc">
                    ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                    И ГРОДНО 2019 г
                </div>
              </a>
            </div>
            <div class="blocks__item item">
                <a href="#" class="item__link">
                  <div class="item__date">12.08.2019 | Август</div>
                  <div class="item__imgwrapper">
                    <img src="../src/img/blog/img2.png" alt="img">
                  </div>
                  <div class="item__disc">
                      ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                      И ГРОДНО 2019 г
                  </div>
                </a>
              </div>
              <div class="blocks__item item">
                <a href="#" class="item__link">
                  <div class="item__date">12.08.2019 | Август</div>
                  <div class="item__imgwrapper">
                    <img src="../src/img/blog/img3.jpg" alt="img">
                  </div>
                  <div class="item__disc">
                      ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                      И ГРОДНО 2019 г
                  </div>
                </a>
              </div>
              <div class="blocks__item item">
                <a href="#" class="item__link">
                  <div class="item__date">12.08.2019 | Август</div>
                  <div class="item__imgwrapper">
                    <img src="../src/img/blog/img4.jpg" alt="img">
                  </div>
                  <div class="item__disc">
                      ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                      И ГРОДНО 2019 г
                  </div>
                </a>
              </div>
              <div class="blocks__item item">
                <a href="#" class="item__link">
                  <div class="item__date">12.08.2019 | Август</div>
                  <div class="item__imgwrapper">
                    <img src="../src/img/blog/img5.jpg" alt="img">
                  </div>
                  <div class="item__disc">
                      ЛЕТНИЙ РОЗЫГРЫШ В МИНСКЕ
                      И ГРОДНО 2019 г
                  </div>
                </a>
              </div>
          </div>
      </div>
    </div>

  </div>
</div>