<div class="block4">
  <div class="container">
    <div class="block4-wrapper">
      <div class="block4-wrapper__item block4-wrapper__item-img">
        <img src="../src/img/block/img-auto.png" alt="auto">
      </div>
      <div class="block4-wrapper__item block4-wrapper__item-text">
        <div class="text">
          <div class="text__title">Необходимо авто в аренду для такси? У нас  есть!</div>
          <div class="text__disc"><span class="text__disc-text">Авто от 25 руб / cутки</span><span class="text__disc-line"></span></div>
        </div>
        <div class="block3-btn block3-btn-left">
          <a class="block3-btn__btn block3-btn__btn-blue">Забронировать</a>
        </div>
      </div>
    </div>
  </div>
</div>