<div class="container">
  <div class="block3">
      <div class="block3-btn">
          <a href="#block5" class="block3-btn__btn block3-btn__btn-green">ПОДРОБНЕЕ</a> <a class="block3-btn__btn block3-btn__btn-blue">СМЕНИТЬ ПАРТНЕРА</a>
        </div>
        <div class="block3-requied block3-requied-treb">
            <div class="block3-requied__title">ЧТО ТРЕБУЕТСЯ ОТ ВАС</div>
            <div class="block3-requied__bg"></div>
        </div>
        <div class="block3-requied-list">
          <div class="block3-requied-list__item">
            <div class="icon icon-staj"></div>
            <div class="disc">Водительский стаж<br>
                от 2-х лет</div>
          </div>
          <div class="block3-requied-list__item">
            <div class="icon icon-med"></div>
            <div class="disc">Наличие медицинской
                справки с правом
                  найма на работу</div>
          </div>
          <div class="block3-requied-list__item">
            <div class="icon icon-clock"></div>
            <div class="disc">Автомобиль не<br>
                старше 2005 года</div>
          </div>
          <div class="block3-requied-list__item">
            <div class="icon icon-cal"></div>
            <div class="disc">Возраст водителя
                <br>от 23-х лет</div>
          </div>
        </div>


        <div class="block3-requied block3-requied-pred">
            <div class="block3-requied__title">ЧТО ПРЕДЛАГАЕМ МЫ</div>
            <div class="block3-requied__bg"></div>
        </div>
        <div class="block3-requied-list">
            <div class="block3-requied-list__item">
              <div class="icon icon-auto"></div>
              <div class="disc">У Вас будет возможность работать</div>
            </div>
            <div class="block3-requied-list__item">
              <div class="icon icon-dohod"></div>
              <div class="disc">У Вас будет стабильный высокий доход</div>
            </div>
            <div class="block3-requied-list__item">
              <div class="icon icon-money"></div>
              <div class="disc">У Вас будет возможность выкупа авто</div>
            </div>
            <div class="block3-requied-list__item">
              <div class="icon icon-coll"></div>
              <div class="disc">У Вас будет дружный коллектив</div>
            </div>
          </div>

          <div class="block3-btn">
            <a class="block3-btn__btn block3-btn__btn-green">Оформить заявку</a>
          </div>
  </div>
</div>