<div class="container">
  <div class="blockItems">
    <div class="blockItems__item item">
      <div class="item-icon item-icon-1"></div>
      <div class="item-disc">
          Первые в Минске<br>
          <span>внедрили прием заказов
          через смартфон</span>
      </div>
    </div>
    <div class="blockItems__item item item-lg">
      <div class="item-logo item-logo-135"></div>
    </div>
    <div class="blockItems__item item">
      <div class="item-icon item-icon-3"></div>
      <div class="item-disc">
          Единственные, кто проводит<br>
            <span>экзамен среди водителей
          на знание города</span>
      </div>
    </div>
  </div>
</div>