<div class="container">
  <div class="block2">
      <div class="block2__item ">
        <div class="block2__item-icon block2__item-icon-pug"></div>
        <div class="block2__item-disc">
            Водители обеспечены<br><span>стабильным и высоким<br> доходом</span> 
        </div>
      </div>
      <div class="block2__item ">
        <div class="block2__item-icon block2__item-icon-hand"></div>
        <div class="block2__item-disc">Важнее качество,<br>
          <span>а не количество</span>
        </div>
      </div>
      <div class="block2__item ">
        <div class="block2__item-icon block2__item-icon-wheel"></div>
        <div class="block2__item-disc">
          Завоевало рынок<br>
            <span>качественным<br>
             обслуживанием
            </span>
        </div>
      </div>
  </div>
</div>